@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-color:#007dc3;
  --secondary-color:#0169a4;
  --hover-text-color:#feba02;
  --text-color:#8996a0;
  --background-color:#f4f7f9;
  --button:#84cc16;
  --button-hover:#65a30d;
}

html,
body,
:root{
  height:100%;
}
.store-title{
  color:#facc15; 
  text-transform: uppercase;
  letter-spacing: 1px;
}
button{
  background-color:var(--button);
}
button:hover{
  background-color:var(--button-hover);
}

.text-billboard{
  color:white;
}